body {
    background-color: pink;
}

.storage {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

header {
    height: 150px;
    text-align: center;
}

nav {
    text-align: center;
    padding-top: 10px;
}

main {
    height: 680px;
    text-align: center;
    padding-top: 1px;
    padding-left: 40px;
    padding-right: 40px;
}

footer {
    background-color: darkorchid;
    height: 100px;
}

h1 {
    font-size: 90px;
    color: palevioletred;
    font-family: cursive;
}

h2 {
    font-size: 60px;
    color: palevioletred;
    font-family: cursive;
}

h4 {
    font-size: 42px;
    color: palevioletred;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

p {
    font-size: 40px;
    color: palevioletred;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

a {
    font-size: 30px;
    color: darkslateblue;
    font-family: cursive;
    text-decoration: none;
}

nav a {
    font-size: 35px;
}